.post-item {
    list-style-type: none;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    padding: 1em;
    page-break-inside: avoid;
    font-size: 15px;
    line-height: 1.6;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}