{% if paginator.posts %}
<ul class="list">
    {% for page in paginator.posts %}
    <li class="item">
        <article>
            <h2><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }}</a></h2>
        </article>
    </li>
    {% endfor %}
</ul>
{% else %}
<ul class="list">
    {% for page in site.posts %}
    <li class="post-item">
            <h2><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }}</a></h2>
            <small class="small  post-meta">
                Keywords: {{ page.categories | join: "&nbsp;&middot;&nbsp;" }}<br>
                Published: <time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date_to_string }}</time> </small>
    </li>
    {% endfor %}
</ul>
{% endif %}