<footer id="footer" class="footer-area">
    <div class="footer-copyright pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text text-center pt-20">
                        <p>Adapted from the <a href="https://uideck.com/templates/unfold-free-personal-portfolio-and-profile-template/" rel=   "nofollow">Unfold</a> template created by <a href="https://uideck.com" rel="nofollow">UIdeck</a> (free for personal use)</p>
                    </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
</footer>
<a href="#" class="back-to-top" style="display: block"><i class="lni-chevron-up"></i></a>