<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }} - {{ page.title }}</title>
        <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--====== Line Icons css ======-->
        <link rel="stylesheet" href="assets/css/LineIcons.css">
    
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
    
        <!--====== Default css ======-->
        <link rel="stylesheet" href="assets/css/default.css">
    
        <!--====== Style css ======-->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <section id="about" class="about-area pt-125 pb-130">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="section-title text-center">
                                <h2 class="title">Rishi Rajasekaran</h2>
                            </div> <!-- section title -->
                        </div>
                    </div> <!-- row -->
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/assets/img/me_circle.jpg" />
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content mt-50">
                                <h5 class="about-title">About Me</h5>
                                <p>Hi, I'm Rishi! I am a 1st year MS in CSE student at UC Santa Cruz. My research interest lies broadly in Natural Language Understanding and Semantic Analysis and hope to work on projects in those areas.</p>
                                <br>
                                <p>I'm a native of Chennai, one of the many temple cities in India, where I spent the whole of my childhood.</p>
                                <br>
                                <p>I did my bachelor's degree in Computer Science and Engineering from NIT Trichy in Tamil Nadu. I spent a huge chunk of time over there participating in quizzes, web development and getting cooked in the heat! I was a member of Spider R&D, a technology club, and Balls by Picasso, the literary club.</p>
                                <br>
                                <p>I joined Morgan Stanley in 2017 where I worked as a Java developer in the Wealth Management Division. My work involved building backend systems for account creation and client onboarding.</p>
                                <ul class="clearfix">
                                    <li>
                                        <div class="single-info d-flex align-items-center">
                                            <div class="info-icon">
                                                <i class="lni-envelope"></i>
                                            </div>
                                            <div class="info-text">
                                                <p><span>Academic Email:</span> rrajasek [AT] ucsc [DOT] edu</p>
                                            </div>
                                        </div> <!-- single info -->
                                    </li>
                                    <li>
                                        <div class="single-info d-flex align-items-center">
                                            <div class="info-icon">
                                                <i class="lni-map-marker"></i>
                                            </div>
                                            <div class="info-text">
                                                <p><span>Location:</span> Santa Cruz, CA</p>
                                            </div>
                                        </div> <!-- single info -->
                                    </li>
                                    <li>
                                        <div class="single-info d-flex align-items-center">
                                            <div class="info-icon">
                                                <i class="lni-twitter"></i>
                                            </div>
                                            <div class="info-text">
                                                <p><span>Twitter:</span> <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-info d-flex align-items-center">
                                                <div class="info-icon">
                                                        <i class="lni-github"></i>
                                                    </div>
                                                    <div class="info-text">
                                                        <p><span>GitHub:</span> <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></p>
                                                    </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-info d-flex align-items-center">
                                                <div class="info-icon">
                                                        <i class="lni-certificate"></i>
                                                    </div>
                                                    <div class="info-text">
                                                        <p><span>Resume:</span> <a href="/assets/pdfs/Resume_Rishi_Rajasekaran.pdf">View</a></p>
                                                    </div>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- about content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="papers" class=" services-area gray-bg pt-125 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center pb-30">
                            <h2 class="title">Papers I Find Very Interesting</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-service text-center mt-30">
                            <div class="service-content">
                                <h4 class="service-title"><a href="https://arxiv.org/abs//1609.01454">Attention-Based Recurrent Neural Network Models for Joint Intent Detection and Slot Filling</a></h4>
                                <p>Bing Liu, Ian Lane</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-service text-center mt-30">
                            <div class="service-content">
                                <h4 class="service-title"><a href="#">Multi-Domain Joint Semantic Frame Parsing using Bi-directional RNN-LSTM</a></h4>
                                <p>Dilek Hakkani-Tür, Gokhan Tur, Asli Celikyilmaz, Yun-Nung Chen,Jianfeng Gao, Li Deng, and Ye-Yi Wang</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-service text-center mt-30">
                            <div class="service-content">
                                <h4 class="service-title"><a href="https://arxiv.org/abs/1508.07909">Neural Machine Translation of Rare Words with Subword Units</a></h4>
                                <p>Rico Sennrich, Barry Haddow and Alexandra Birch</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="footer-area">
                <div class="footer-copyright pb-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="copyright-text text-center pt-20">
                                    <p>Adapted from the <a href="https://uideck.com/templates/unfold-free-personal-portfolio-and-profile-template/" rel="nofollow">Unfold</a> 
                                    template created by <a href="https://uideck.com" rel="nofollow">UIdeck</a> (free for personal use)</p>
                                </div> <!-- copyright text -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                </div> <!-- footer widget -->
            </footer>
        <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

        <!--====== jquery js ======-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    
        <!--====== Bootstrap js ======-->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
    
        <!--====== Magnific Popup js ======-->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
        <!--====== Counter Up js ======-->
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
    
    
        <!--====== Appear js ======-->
        <script src="assets/js/jquery.appear.min.js"></script>
    
        <!--====== Scrolling js ======-->
        <script src="assets/js/scrolling-nav.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
    </body>
</html>